body{
    background: #638a79 url("img/body-bg.png") repeat-x fixed;
    font-family: "Arial", sans-serif;
    line-height: 18px;
    font-size: 13px;

}

.content {
    width: 840px;
    margin: 100px auto 0;
    background-color: #fff;
   /* border-radius: 6px; could make those round corners */
}
    .content .content-top {
    background: url(img/content-bg.png) no-repeat 0 0;
    height: 12px;

}

 .content .content-bottom {
    height: 12px;
     background: url(img/content-bg.png) 840px 0;
}
.content .content-middle {
    margin: 20px 30px;
    color: black;
    font-style: normal;

}
	
h1 {
    font-size: 26px;
    line-height: 36px;
    color: #2b8c57;
    margin-bottom: 10px;
}

h1, h2 {
    font-weight: normal;
}

h2 {
    font-size: 18px;
    line-height: 28px;
    color: #2b8c57;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 15px;
}
	
div.block-1 {
    background: url(img/block-1-bg.png) repeat-x;
    background-color: #2b8c57;


}
div.block-2 {
    background: #356149 url(img/picture-1.png) no-repeat bottom right;
}

div[class^="block"] {
    color: white;
    font-style: italic;
    letter-spacing: 0.2px;
    padding: 20px 30px;
}

a.button {
    background: url(img/button-1.png) no-repeat 0 0;
    display: block;
    width: 121px;
    height: 38px;
    text-decoration: none;

}
a.button:hover {
    background-position: 0 -38px;
}
a.button:active {
    background-position: 0 -76px;
}